{
  "presets": [
    ["@babel/preset-env", {
        "targets": {
          "chrome": "67"
        },
        "useBuiltIns": "usage"   // 只 polyfill 相关的业务代码
      }
    ],
    "@babel/preset-react"
  ]
}